* {
    padding: 0px;
    margin: 0px;
}

.price-label {
    background-color: black;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 10px;
}

.sold-label {
    background-color: red;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 10px;
}

.card {
    border-radius: 0px;
    border: 1px solid #f1f1f1;
}

.hero {
    padding: 0px;
    height: 70dvh;
    object-fit: contain;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-overlay h1, h3 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.mekason-span {
    color: darkorange;
    font-size: 2em;
}


.hero-btn {
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: darkorange;
    align-self: center;
    position: absolute;
    bottom: 20%;
    border: none;
    opacity: 1;
    transition: 0.5s;
    border:#f1f1f1 1px solid;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.make-filter {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

.make-filter h4 {
    padding-bottom: 0.5em;
    text-align: center;
    color: grey;
    border-bottom: grey 3px solid;
}

.hero-btn:hover {
    transition: 0.5s;
    opacity: 0.4;
}

.car-card {
    padding: 0px;
    margin: 0px 5px;
    border: grey 1px solid;
}

.car-card:hover {
    box-shadow: 0px 0px 10px 0px #3a3a3a;
    transition: 0.5s;
}

.car-info {
    padding: 5px;
}

.car-info > h5 {
    margin-bottom: 0.5em;
}

.carousel {
    border:#3a3a3a 1px solid;
}

.cd-carousel-img img {
    width: auto;
    height: 400px;
    max-height: 400px;
    object-fit: contain;
}

.cd-carousel-img img:hover {
    cursor: pointer;
}

.quick-info p {
    display:inline-block;
    font-weight: bold;
    background-color: rgb(202, 198, 198);
    padding: 5px 10px;
    border-radius: 10px;
}

.about-car-content {
    background-color: rgb(202, 198, 198);
    padding: 10px 20px;
    border-radius: 10px;
}

.whatsapp-float {
    padding: 20px 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.whatsapp-float i {
    border-radius: 30%;
    font-size: 3em;
    padding: 10px;
    background-color: green;
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
    position: relative;
    bottom: 0;
}
