* {
    padding: 0px;
    margin: 0px;
}

.price-label {
    background-color: black;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 10px;
}

.sold-label {
    background-color: red;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 10px;
}

.card {
    border-radius: 0px;
    border: 1px solid #f1f1f1;
}

.hero {
    padding: 0px;
    height: 100dvh;
    overflow: hidden;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
