{% extends 'base.html' %}

{% block body %}
<div class="container-fluid row">
  <div class="col-3 quick-info">
    <h4>{{ car.make }} {{ car.model }} {{ car.year }}</h4>
    <p>{{car.make}}</p> 
    <p>{{car.model}}</p> 
    <p>{{car.year}}</p> 
    <p>{{car.fuel_type}}</p> 
    <p>{{car.body_type}}</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide col-9">
    <div class="carousel-indicators">
      {% for index, photo in car.photos_dict.items %}
      {% if index == '0' %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to={{index}} class="active" aria-current="true" aria-label="Slide {{index}}"></button>
      {% else %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to={{index}} aria-label="Slide {{index}}"></button>
      {% endif %}
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for index, photo in car.photos_dict.items %}
      {% if index == '0' %}
      <div class="carousel-item active cd-carousel-img">
        <img src={{photo}} class="d-block w-100" alt="Slide 1">
      </div>
      {% else %}
      <div class="carousel-item cd-carousel-img">
        <img src={{photo}} class="d-block w-100" alt="Slide">
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container-fluid">
    <h4>About the car</h4>
    <div class="about-car-content">
        <p>Make: {{car.make}} Model: {{car.model}} Year: {{car.year}} Fuel: {{car.fuel_type}}
            Body: {{car.body_type}}
        </p>
        <p>{{car.description}}</p>
    </div>
</div>


{% if similar_cars %}
  <div class="container-fluid similar-cars">
    <h4>Similar Cars</h4>
    <div class="row row-cols-auto align-items-center d-flex flex-nowrap">
      {% for car in similar_cars %}
      <div class="col-sm-2 car-card" style="position: relative;">
        <div class="card text-bg-dark">
          <img src="{{ car.photos.0 }}" class="card-img" alt="{{ car.make }} {{ car.model }} {{ car.year }}">
          <div class="card-img-overlay">
              {% if car.sold %}
              <p class="card-text sold-label">Sold</p>
              {% endif %}
              <p class="card-text price-label">{{car.price}}</p>
          </div>
        </div>
        
        <div class="card-body car-info">
          <h5 class="card-title">{{ car.make }} {{ car.model }} {{ car.year }}</h5>
          <a href="{% url 'car_detail' car.id car.slug %}" class="stretched-link"></a>
          <div class="row row-cols-2">
            <div class="col">
              <p class="card-text"><i class="fa-solid fa-gas-pump" style="color: #9e9a9a;"></i> {{ car.fuel_type }} </p>
            </div>
            <div class="col">
              <p class="card-text"> <i class="fa-solid fa-location-dot" style="color: #9e9a9a;"></i> {{ car.location }} </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endif %}

{% endblock %}