{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block body %}
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Find Your Car</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Search for a car by make, model and year.</p>
    <div class="d-flex" style="justify-content: center;">
    <form action="{% url 'search' %}" method="post"  class="w-75" role="search">
      {% csrf_token %}
      {{form|crispy}}
      <button class="btn btn-outline-success w-100" type="submit">Search</button>
    </form>  
  </div>
  </div>
</div>

  <div class="card text-bg-dark hero">
     <img src="/static/images/hero.jpg" class="hero-img card-img img-fluid" alt="hero section">
     <div class="card-img-overlay hero-overlay">
        <h3 class="card-title">ONLY THE BEST DEALS</h3>
        <h1 class="card-title">AT <span class="mekason-span">MEKASON</span></h1>
        <button class="hero-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" >Find Your Dream Car</button>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
     </div>
  </div>

  <div class="container-fluid make-filter">
    
    <div class="row row-cols-auto row-gap-2 align-items-center">
      Filter by Make:
      {% for make in makes %}
      <div class="">
        <a href="{% url 'make_home' make %}" class="btn btn-secondary">{{ make }}</a>
      </div>
      {% endfor %}
      {% if filter %}
        <a href="{% url 'home' %}" class="btn btn-danger btn-sm">Clear Filters</a>
      {% endif %}
  </div>
  </div>

{% if page_obj %}
  <div class="container-fluid">
    <div class="row row-cols-auto align-items-center">
      {% for car in page_obj %}
      <div class="col-sm-3 car-card" style="position: relative;">
        <div class="card text-bg-dark">
          <img src="{{ car.photos.0 }}" class="card-img" alt="{{ car.make }} {{ car.model }} {{ car.year }}">
          <div class="card-img-overlay">
              {% if car.sold %}
              <p class="card-text sold-label">Sold</p>
              {% endif %}
              <p class="card-text price-label">{{car.price}}</p>
          </div>
        </div>
        
        <div class="card-body car-info">
          <h5 class="card-title">{{ car.make }} {{ car.model }} {{ car.year }}</h5>
          <a href="{% url 'car_detail' car.id car.slug %}" class="stretched-link"></a>
          <div class="row row-cols-2">
            <div class="col">
              <p class="card-text"><i class="fa-solid fa-gas-pump" style="color: #9e9a9a;"></i> {{ car.fuel_type }} </p>
            </div>
            <div class="col">
              <p class="card-text"> <i class="fa-solid fa-location-dot" style="color: #9e9a9a;"></i> {{ car.location }} </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% else %}
<div class="container" style="height: 90dvh">
  <p>Couldn't find what you were looking for?</p>
  <p><a href="{% url 'home' %}">Try searching again.</a></p>
</div>
{% endif %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endblock %}